

body {
    text-align:center;
}

#slider {
	/* 待扩展 */
}

/* 导航栏样式   */
#nav {
    text-align:center;
}
#nav ul {
    display:inline-block;
}
#nav ul li {
    float:left;
    list-style:none;
    margin-left:20px;
}
#nav a {
    text-decoration:none;
    color: blue;
}

/* 页脚样式     */
#footer {
    text-align:center;
}
#footer ul {
    display:inline-block;
}
#footer ul li {
    float:left;
    list-style:none;
    margin-left:20px;
}
#footer a {
    text-decoration:none;
    color: blue;
}

