body {
    margin-left:13%;
    margin-right:13%;
}

p {
    text-indent: 2em;
}

a {
    text-decoration:none;
}

#essaytitle {
    text-align:center;
}

.checklist {
    background-color: aliceblue;
    margin-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em;
}

.email {
    background-color:silver;
    margin-left:2em;
    margin-top:2em;
    padding:1em;
}
